*{
margin:0px;
}

body{
	background-color:#FFA500;
	
}
#header{
	height:100px;
	width:100%;
	background-color:white;
}

#header img{
	float:left;
}

#header h1{
	color:brown;
	padding:2px;
	position:relative;
	left:8px;
	top:12px;
}

#header h3{
	color:orange;
	left-padding:30px;
	position:relative;
	left:8px;
	top:14px;
	
}
#nav {
    margin-top: -100px;
    float: right;
}

#nav ul {
    list-style: none;
    margin: 10px;
}

#nav li {
    display: inline-block;
    padding: 0 10px;
}

#nav a{
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato';
    padding: 7px 25px;
    display: inline-block;
}

#nav a:hover,a:visited {
    text-decoration: underline;
    color:orange;
}

#article{
	height:100%;
	width:80px;
	display:inline;
}

#banner{
	float:left;
}

h2{
	color:brown;
	font-family:'Lato';
}

h4{
	color: white;
	font-family:'Lato';
}

table{
	float:right;
	position:relative;
	bottom:500px;
}

#purchasebidwin{
	position:relative;
	float:right;
	right:60px;
}
.loginButton{
	width:120px;
	height:50px;
	font-size:18px;
	font-family: 'Lato';
	background-color:brown;
	color:white;
	border:none;
}

.signup{
	width:120px;
	height:50px;
	font-size:18px;
	font-family: 'Lato';
	background-color:brown;
	color:white;
	border:none;
	
}

#foot{
	background-color:white;
	width:100%;
	height:100%;
}

#foot ul {
    list-style: none;
    margin: 8px;
	position:relative;
	left:200px;
}

p{
	position:relative;
	left:250px;
}

#foot li {
    display: inline-block;
    padding: 0 10px;
}

#foot a{
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato';
    padding: 7px 25px;
    display: inline-block;
}

#foot a:hover,a:visited {
    text-decoration: underline;
    color:orange;
}